.main {
    width: 100%;
    height: auto;
    padding: 1vh 2vh;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: center;
}

.main__message {
    width: auto;
    max-width: 80%;
    text-align: left;
    height: auto;
    padding: 1vh;
    background-color: #2F3337;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border-radius: 1.5vh;
    font-size: 16px;
    font-weight: 400;
    display: flex;
}

.main__message_date {
    min-height: 100%;
    display: flex;
    align-items: end;
    font-size: 12px;
    font-weight: 400;
}

.main__message_text {
    max-width: 100%;
    height: max-content;
    margin: 0 .5vh;

}
.main__message_date_image {
    min-height: 100%;
    display: flex;
    font-size: 12px;
    justify-content: end;
    font-weight: 400;
    text-align: right;
}


.image {
    max-width: 20vw;
    border-radius: 1vh;
}